{% extends 'base.html.twig' %}

{% block title %}Tous les topics{% endblock %}

{% block body %}
    <section class="details-container">
        <div class="details-title mb">{{topic.title}}</div>
        <p class="details-text">
            {{topic.content}}
        </p>
    
    {% if app.user and app.user.pseudo == topic.author.pseudo and topic.isClosed == false %}
        <a href="{{ path('topic-close', {slug: topic.slug}) }}" class="">
            Fermer le topic
        </a>
    {% endif %}
    </section>


    {% if app.user and topic.isClosed == false %}
    {{ form_start(commentForm) }}
        <div class="flex gap form-contain mb">
            <div class="form-div">
                {{ form_row(commentForm.content) }}

                <button style="cursor: pointer" type="submit" class="btn-submit-comment">Commenter</button>
            </div>
            
        </div>

    {{ form_end(commentForm) }}
    {% endif %}

    

    <div class="flex container-comments">
        {% for comment in topic.comments %}
            {% include '_partials/post/comment.html.twig' with { comment: comment } only %}
        {% endfor %}
    </div>
{% endblock %}